[user]
	name = ade-sede
	email = adrien.de.sede@gmail.com
[alias]
	a = add --all
	c = commit -a
	s = status
	co = checkout
	p = push
	tree = log --all --pretty --oneline --graph
	blame = slut

[color]
	dif = auto
	status = auto
	branch = auto
[merge]
	tool = vimdiff
	conflictstyle = diff3
[git]
	editor = vim
[core]
	excludesfile = $HOME/gitignore
[github]
	user = Ixskill
[ghi]
	token = !security find-internet-password -a Ixskill -s github.com -l 'ghi token' -w
