[user]
	name = ade-sede
	email = adrien.de.sede@gmail.com
[alias]
	a = add --all
	c = commit -a
	s = status
	co = checkout
	p = push
	tree = log --graph --oneline

[color]
	dif = auto
	status = auto
	branch = auto
[merge]
	tool = vimdiff
[git]
	editor = vim
[core]
	excludesfile = $HOME/gitignore
