config/*
!config/.config/terminator
!config/.config/i3
!config/.config/i3blocks
!config/.config/termite
!config/.config/systemd
tmux/.tmux/resurrect
tmux/.tmux/resurrect/last
tmux/.tmux/plugins
vim/.vim/bundle/
*~
emacs/.emacs.d/!*
emacs/.emacs.d/projectile*
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/#*
